.eventListContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  padding: 20px;
}

.singleItem{
  grid-template-columns: minmax(300px, 600px);
  justify-content: center;
}