.container{
  margin-bottom: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1279fd;
  border: none;
  border-radius: 8px;
  padding: 10px;
  flex-wrap: wrap;
}

.containerLogo{
  flex: 1;
  display: flex;
}

.logo{
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 18px;
  color: #fff;
}

.logo:hover{
  color: #ffff;
}

.searchContainer{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.inputSearch{
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  width: 200px;
  background-color: #ffff;
  color: #616161;
}

.profile{
  margin: 20px;
  color: #dddddd;
  text-decoration: none;
  padding: 4px;
}

.profile:hover{
  color: #ffff;

}

/* Estilos para pantallas medianas (tabletas) */
@media (max-width: 768px){
  .container{
    flex-direction: column;
    padding: 10px;
  }

  .logo{
    font-size: 22px;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .inputSearch {
    width: 150px;
    font-size: 14px;
  }

  .profile {
    margin: 16px 0;
  }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 480px){
  .container{
    flex-direction: column;
    padding: 8px;
  }

  .logo{
    font-size: 20px;
    text-align: center;
  }

  .inputSearch{
    width: 100%;
    font-size: 14px;
  }

  .profile{
    margin: 12px 0;
    padding: 8px;
    width: 100%;
    text-align: center;
  }
}