.container{
}

.button {
  position: fixed; /* Mantiene el botón en la parte superior izquierda al hacer scroll */
  top: 20px; /* Distancia desde la parte superior */
  left: 20px; /* Distancia desde la izquierda */
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin bordes */
  padding: 0; /* Sin padding adicional */
  cursor: pointer; /* Cambia cursor al pasar sobre el botón */
  z-index: 1000; /* Asegura que esté encima de otros elementos */
  display: flex; /* Alineación del contenido */
  align-items: center;
  justify-content: center;
}

.button svg {
  width: 56px;
  height: 56px;
  stroke: white;
  transition: stroke 0.3s ease;
}

.button:hover svg {
  stroke: #ccc;
}

.button:focus {
  outline: none;
}

/* Responsive Styles */
@media (max-width: 1420px){
  .button {
    top: 10px;
    left: 5px;
  }

  .button svg {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px){
  .button {
    top: 5px;
    left: 5px;
  }

  .button svg {
    width: 32px;
    height: 32px;
  }
}

.mainInfoContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.eventImage{
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.eventMap{
  width: 50%;
  height: 50%;
  margin: 12px 0;
}

.eventName{
  margin: 16px 0px;
  font-size: 28px;
}

.infoParagraph{
  text-align: left;
  margin: 8px 0px;
}

.dateParagraph{
  margin: 4px 0px;
}

.seatInfoContainer{
  flex-direction: column;
  margin-top: 10px;
}

.seatMapTitle{
  text-align: start;
  margin: 6px 0;
  font-size: 24px;
}

.pleaseNoteLegend{
  text-align: start;
  margin: 10px 0;
}

.priceRangeLegend{
  font-weight: bold;
  font-size: 16px;
  text-align: start;
  margin: 0 0 8px;
}

.ticketLink{
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color de texto */
  font-size: 16px; /* Tamaño del texto */
  text-decoration: none; /* Sin subrayado */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones para animaciones */
}

.ticketLink:hover{
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
  transform: scale(1.05); /* Efecto de agrandar ligeramente */
  color: #cdd2d8;
}

.ticketLink:active{
  background-color: #003f7f; /* Color de fondo al hacer clic */
  transform: scale(0.98); /* Efecto de click */
}